@media (max-width: 768px) {
  .content {
    flex-direction: column;
    gap: 24px;
  }

  /* For MobileView component */
  .descriptions-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
  }
}
