.caption-text-section {
  display: flex;
  flex-direction: column;
  gap: 1px;
}

.caption-text-section > .caption-text {
  font-size: 12px;
}

.caption-text-section > .caption-caption {
  font-size: 10px;
  color: var(--subtitle-caption-color);
}
