.descriptions-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.caption-text-left {
  text-align: left;
}

.caption-text-right {
  text-align: right;
}

.hr-container {
  display: flex;
}

.hr-left-sided {
  place-content: flex-start;
}

.hr-right-sided {
  place-content: flex-end;
}

.hr-line {
  color: var(--primary-text-color);
  background-color: var(--primary-text-color);
  height: 1px;
  width: 50%;
}
